global:
  # Internal cluster domain
  clusterDomain: cluster.local

loki:
  loki:
    auth_enabled: true
    storage:
      type: filesystem

grafana:
  ingress:
    enabled: true
    hosts:
      - grafana.local
  admin:
    existingSecret: grafana-admin-secret
    userKey: admin-user
    passwordKey: admin-password
