global:
  # Internal cluster domain
  clusterDomain: cluster.local

loki:
  loki:
    auth_enabled: true
    storage:
      type: filesystem

grafana:
  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: code-monkey-root-ca-cluster-issuer
    hosts:
      - grafana.local
    tls:
      - secretName: grafana-tls-secret
        hosts:
          - grafana.local
  admin:
    existingSecret: grafana-admin-secret
    userKey: admin-user
    passwordKey: admin-password
