global:
  # Internal cluster domain
  clusterDomain: cluster.local

loki:
  loki:
    auth_enabled: true
    storage:
      type: filesystem
  gateway:
    deploymentStrategy:
      type: Recreate
    basicAuth:
      enabled: true
      # Defined in secrets values file
      # username: sops_secret
      # password: sops_secret
  test:
    enabled: false
  lokiCanary:
    enabled: false

grafana:
  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: code-monkey-root-ca-cluster-issuer
    hosts:
      - grafana.local
    tls:
      - secretName: grafana-tls-secret
        hosts:
          - grafana.local

  admin:
    existingSecret: grafana-admin-secret
    userKey: admin-user
    passwordKey: admin-password

  deploymentStrategy:
    type: Recreate

  persistence:
    enabled: true
    size: 100Mi
    storageClassName: local-path
