global:
  # Internal cluster domain
  clusterDomain: cluster.local
  # loki:
  #   basicAuthUsername: sops_secret
  #   basicAuthPassword: sops_secret

loki:
  loki:
    revisionHistoryLimit: 2
    # When auth_enabled is true, Loki will require authentication for all requests,
    # and the header "X-Scope-OrgID" must be set in requests.
    auth_enabled: true
    storage:
      type: filesystem
  gateway:
    revisionHistoryLimit: 2
    deploymentStrategy:
      type: Recreate
    basicAuth:
      enabled: true
      # Just repeat of default values, but with global encrypted values
      htpasswd:  >-
        {{ htpasswd (required "'global.loki.basicAuthUsername' is required" .Values.global.loki.basicAuthUsername) (required "'global.loki.basicAuthPassword' is required" .Values.global.loki.basicAuthPassword) }}
  test:
    enabled: false
  lokiCanary:
    enabled: false

fluent-bit:
  revisionHistoryLimit: 2
  config:
    # extraFiles:
    #   upstream.conf: |
    #     [UPSTREAM]
    #         loki
    outputs: |
      [OUTPUT]
          name loki
          match *
          host monitoring-app-loki-gateway.monitoring.svc.cluster.local
          port 80
          uri /loki/api/v1/push
          HTTP_User {{ toYaml .Values.global.loki.basicAuthUsername }}
          HTTP_Passwd {{ toYaml .Values.global.loki.basicAuthPassword }}
          labels job=fluentbit
          auto_kubernetes_labels on

grafana:
  revisionHistoryLimit: 2
  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: code-monkey-root-ca-cluster-issuer
    hosts:
      - grafana.local
    tls:
      - secretName: grafana-tls-secret
        hosts:
          - grafana.local

  admin:
    existingSecret: grafana-admin-secret
    userKey: admin-user
    passwordKey: admin-password

  deploymentStrategy:
    type: Recreate

  persistence:
    enabled: true
    size: 100Mi
    storageClassName: local-path

  ## Configure grafana datasources
  ## ref: http://docs.grafana.org/administration/provisioning/#datasources
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: loki
          type: loki
          isDefault: true
          access: proxy
          url: http://monitoring-app-loki-gateway.monitoring.svc.cluster.local
          basicAuth: true
          basicAuthUser: "{{ toYaml .Values.global.loki.basicAuthUsername }}"
          basicAuthPassword: "{{ .Values.global.loki.basicAuthPassword }}"
          jsonData:
            maxLines: 1000
            httpHeaderName1: "X-Scope-OrgID"
          secureJsonData:
            httpHeaderValue1: "grafana"
