global:
  # Internal cluster domain
  clusterDomain: cluster.local
  tenantId: code-monkey
  # loki:
  #   basicAuthUsername: sops_secret
  #   basicAuthPassword: sops_secret

# Loki sub chart values
# Based on: https://github.com/grafana/loki/blob/main/production/helm/loki/single-binary-values.yaml
loki:
  deploymentMode: SingleBinary

  singleBinary:
    replicas: 1
    resources:
      limits:
        cpu: 1
        memory: 1Gi
      requests:
        cpu: 0.2
        memory: 500Mi
    extraEnv:
      # Keep a little bit lower than memory limits
      - name: GOMEMLIMIT
        value: 800MiB

  chunksCache:
    enabled: false
    # default is 500MB, with limited memory keep this smaller
    writebackSizeLimit: 10MB

  # Enable minio for storage
  # minio:
  #   enabled: true

  # Zero out replica counts of other deployment modes
  backend:
    replicas: 0
  read:
    replicas: 0
  write:
    replicas: 0

  ingester:
    replicas: 0
  querier:
    replicas: 0
  queryFrontend:
    replicas: 0
  queryScheduler:
    replicas: 0
  distributor:
    replicas: 0
  compactor:
    replicas: 0
  indexGateway:
    replicas: 0
  bloomCompactor:
    replicas: 0
  bloomGateway:
    replicas: 0

  loki:
    revisionHistoryLimit: 2
    # When auth_enabled is true, Loki will require authentication for all requests,
    # and the header "X-Scope-OrgID" must be set in requests.
    auth_enabled: true
    commonConfig:
      replication_factor: 1
    schemaConfig:
      configs:
        - from: 2025-01-01
          store: tsdb
          object_store: filesystem
          schema: v13
          index:
            prefix: loki_index_
            period: 24h
    ingester:
      chunk_encoding: snappy
    querier:
      # Default is 4, if you have enough memory and CPU you can increase, reduce if OOMing
      max_concurrent: 2
    storage:
      type: filesystem
    tracing:
      enabled: true

  gateway:
    revisionHistoryLimit: 2
    deploymentStrategy:
      type: Recreate
    basicAuth:
      enabled: true
      # username: sops_secret
      # password: sops_secret

  test:
    enabled: false

  lokiCanary:
    enabled: false

fluent-bit:
  revisionHistoryLimit: 2
  config:
    outputs: |
      [OUTPUT]
          name loki
          match *
          host monitoring-logging-loki-gateway.monitoring.svc.cluster.local
          port 80
          uri /loki/api/v1/push
          tenant_id {{ .Values.global.tenantId }}
          HTTP_User {{ .Values.global.loki.basicAuthUsername }}
          HTTP_Passwd {{ .Values.global.loki.basicAuthPassword }}
          labels job=fluentbit
          auto_kubernetes_labels on
